{% extends "residents/base.html" %}
{% load static %}

{% block css %}
    {{ block.super }}

    <style type="text/css">
        table {
            border: 1px solid black;
            font-size: 0.8em;
            width: 100%;
        }

        td {
            border: 1px solid black;
        }

        th {
            border: 1px solid black;
            text-align: center;
        }

        td, th {
            padding: 0.25em;
        }
    </style>
{% endblock %}

{% block residents_title %}Board Members{% endblock %}
{% block header %}Board Members{% endblock %}

{% block resident_content %}
    <table style='border-collapse: collapse;'>
        <thead>
            <tr>
                <th>Position</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
                {% if is_staff %}<th>Term</th>{% endif %}
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>President</td>
                <td>{{ president.person.full_name }}</td>
                <td>{{ president.person.residential_property.street_address }}</td>
                <td>{{ president.person.phone.as_national }}</td>
                <td>
                    <a href="mailto:{{ president.person.primary_email }}">
                        {{ president.person.primary_email }}
                    </a>
                </td>
                {% if is_staff %}
                    {% if president.start_year == "N/A" %}
                        <td style="text-align: center;">N/A</td>
                    {% else %}
                        <td>{{ president.start_year }} - {{ president.start_year|add:"2" }}</td>
                    {% endif %}
                {% endif %}
            </tr>

            <tr>
                <td>Vice President</td>
                <td>{{ vice_president.person.full_name }}</td>
                <td>{{ vice_president.person.residential_property.street_address }}</td>
                <td>{{ vice_president.person.phone.as_national }}</td>
                <td>
                    <a href="mailto:{{ vice_president.person.primary_email }}">
                        {{ vice_president.person.primary_email }}
                    </a>
                </td>
                {% if is_staff %}
                    {% if vice_president.start_year == "N/A" %}
                        <td style="text-align: center;">N/A</td>
                    {% else %}
                        <td>{{ vice_president.start_year }} - {{ vice_president.start_year|add:"2" }}</td>
                    {% endif %}
                {% endif %}
            </tr>

            <tr>
                <td>Treasurer</td>
                <td>{{ treasurer.person.full_name }}</td>
                <td>{{ treasurer.person.residential_property.street_address }}</td>
                <td>{{ treasurer.person.phone.as_national }}</td>
                <td>
                    <a href="mailto:{{ treasurer.person.primary_email }}">
                        {{ treasurer.person.primary_email }}
                    </a>
                </td>
                {% if is_staff %}
                    {% if treasurer.start_year == "N/A" %}
                        <td style="text-align: center;">N/A</td>
                    {% else %}
                        <td>{{ treasurer.start_year }} - {{ treasurer.start_year|add:"2" }}</td>
                    {% endif %}
                {% endif %}
            </tr>

            <tr>
                <td>Secretary</td>
                <td>{{ secretary.person.full_name }}</td>
                <td>{{ secretary.person.residential_property.street_address }}</td>
                <td>{{ secretary.person.phone.as_national }}</td>
                <td>
                    <a href="mailto:{{ secretary.person.primary_email }}">
                        {{ secretary.person.primary_email }}
                    </a>
                </td>
                {% if is_staff %}
                    {% if secretary.start_year == "N/A" %}
                        <td style="text-align: center;">N/A</td>
                    {% else %}
                        <td>{{ secretary.start_year }} - {{ secretary.start_year|add:"2" }}</td>
                    {% endif %}
                {% endif %}
            </tr>

            <tr>
                <td>Director At Large</td>
                <td>{{ director_at_large_1.person.full_name }}</td>
                <td>{{ director_at_large_1.person.residential_property.street_address }}</td>
                <td>{{ director_at_large_1.person.phone.as_national }}</td>
                <td>
                    <a href="mailto:{{ director_at_large_1.person.primary_email }}">
                        {{ director_at_large_1.person.primary_email }}
                    </a>
                </td>
                {% if is_staff %}
                    {% if director_at_large_1.start_year == "N/A" %}
                        <td style="text-align: center;">N/A</td>
                    {% else %}
                        <td>
                            {{ director_at_large_1.start_year }} - {{ director_at_large_1.start_year|add:"2" }}
                        </td>
                    {% endif %}
                {% endif %}
            </tr>

            <tr>
                <td>Director At Large</td>
                <td>{{ director_at_large_2.person.full_name }}</td>
                <td>{{ director_at_large_2.person.residential_property.street_address }}</td>
                <td>{{ director_at_large_2.person.phone.as_national }}</td>
                <td>
                    <a href="mailto:{{ director_at_large_2.person.primary_email }}">
                        {{ director_at_large_2.person.primary_email }}
                    </a>
                </td>
                {% if is_staff %}
                    {% if director_at_large_2.start_year == "N/A" %}
                        <td style="text-align: center;">N/A</td>
                    {% else %}
                        <td>
                            {{ director_at_large_2.start_year }} - {{ director_at_large_2.start_year|add:"2" }}
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
        </tbody>
    </table>
{% endblock %}
