<div>
    <p class="warning" id="incorrect_warning">
        {% if can_mouse_over %}
            <strong>
                <span class="note">Note</span>: Information presented contains corrections to the IPD log data which
                will be shown in <span class="incorrect_data">red</span>. Hold your mouse over the colored text to see
                a description of the warning.
            </strong>
        {% else %}
            <strong>
                <span class="note">Note</span>: Information presented contains corrections to the IPD log data.
            </strong>
        {% endif %}
    </p>

    <p class="warning" id="missing_warning">
        {% if can_mouse_over %}
            <strong>
                <span class="note">Note</span>: Information presented contains data missing from the IPD log data which
                will be shown in <span class="missing_data">orange</span>. Move your mouse over the colored text to see
                a description of the warning.
            </strong>
        {% else %}
            <strong>
                <span class="note">Note</span>: Information presented contains data missing from the IPD log data.
            </strong>
        {% endif %}
    </p>
</div>