<div>
    <p class="warning" id="incorrect_warning">
        <strong>
            <span class="note">Note</span>: information presented contains corrections to the IPD log data which
            will be shown in <span class="corrected_data">red</span>
        </strong>
    </p>

    <p class="warning" id="missing_warning">
        <strong>
            <span class="note">Note</span>: information presented contains data missing from the IPD log which
            will be shown in <span class="missing_data">green</span>
        </strong>
    </p>
</div>