{% extends "residents/base.html" %}
{% load static %}

{% block residents_title %}Hunting on the Commons{% endblock %}
{% block header %}Hunting on the Commons{% endblock %}

{% block css %}
    {{ block.super }}

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/smoothness/jquery-ui.css" />

    <style>
        .exceptions_table {
            border-collapse: collapse;
            font-size: 80%;
            margin-top: 2em;
            width: 100%;
        }

        .exceptions_table td {
            border: 2px solid black;
            padding: 2px;
            text-align: center;
        }

        .exceptions_table th {
            cursor: pointer;
            text-align: center;
        }

        .exceptions_table tr td:first-child {
            border-left: 0;
        }

        .exceptions_table tr td:last-child {
            border-right: 0;
        }

        .note_label {
            display: inline-block;
            font-weight: bold;
        }

        .notes {
            text-align: left !important;
        }

        .quote {
            display: inline-block;
            font-style: italic;
            padding: 1em 4em 2em;
            text-indent: -2em;
        }
    </style>
{% endblock %}

{% block js %}
    {{ block.super }}

    <script src="//code.jquery.com/ui/1.13.1/jquery-ui.min.js" type="text/javascript"></script>

    <script type='text/javascript'>
        $(document).ready(function() {
            $(".year_heading").slice(1).css("margin-top", "2em");
        });
    </script>
{% endblock %}

{% block resident_content %}
    <p>
        While hunting is not permitted on the Huntington Hills Commons generally, exceptions are sometimes made as
        outlined in the <a href="http://www.huntingtonhillsinc.org/docs/Deer_Bow_Hunt_Proxy_Protocol.pdf">
        Deer Bow Hunt Proxy Protocol</a> document.
    </p>

    <p>
        Section 13 states:
        <br />
        <span class="quote">
            13: The President (Vice President or proxy) will send the information gathered in item 12 to the rest of
            the board in a timely fashion and the data will be recorded on the HH Inc. website, and also reported
            at the HH Inc. annual meeting.
        </span>
    </p>

    <p>To that end, this page lists the exceptions when hunting was permitted on the Commons.</p>

    <hr />

    {% regroup exceptions by date as exception_list %}

    {% for exception in exception_list %}
        <h3 class="year_heading">[{{ exception.grouper.year }}]</h3>

        {% for event in exception.list %}
            <table class="exceptions_table">
                <thead>
                    <tr>
                        <th title="Date of the hunting exception">Date</th>
                        <th title="Approximate time deer was shot on approved property">Time Shot</th>
                        <th title="Approximate time carcass was retrieved by the hunter from Commons">Time Retrieved</th>
                        <th title="Name of the hunter">Hunter</th>
                        <th title="Name of the HH person who accompanied the IPD and/or hunter">HH Rep</th>
                        <th title="Approved property deer ran off onto the Commons from">Property</th>
                    </tr>
                </thead>

                <tbody>
                    {% for event in exception.list %}
                        <tr>
                            <td>{{ event.date|date:"m/d/Y" }}</td>
                            <td>{{ event.time_shot|time:"h:i a" }}</td>
                            <td>{{ event.time_retrieved|time:"h:i a" }}</td>
                            <td>{{ event.hunter.name }}</td>
                            <td>{{ event.hh_rep.full_name }}</td>
                            <td>{{ event.approved_property.label }}</td>
                        </tr>

                        {% if event.location_notes %}
                            <tr>
                                <td  class="notes" colspan="6">
                                    <span class="note_label">Location Notes:</span>
                                    <br />
                                    {{ event.location_notes|linebreaks }}
                                </td>
                            </tr>
                        {% endif %}

                        {% if event.comment %}
                            <tr>
                                <td  class="notes" colspan="6">
                                    <span class="note_label">Comment:</span>
                                    <br />
                                    {{ event.comment|linebreaks }}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    {% endfor %}
{% endblock %}
