{% extends "staff/staff_base.html" %}
{% load static %}

{% block css %}
    {{ block.super }}

    <style type="text/css">
        .arrow_bullet {
            list-style: none;
            position: relative;
        }

        .arrow_bullet li::before {
            content: '⮕';
            left: 2em;
            position: absolute;
        }

        fieldset {
            height: 90%;
            margin-bottom: 1em;
        }
    </style>
{% endblock %}

{% block staff_title %}Main Menu{% endblock %}
{% block header %}Staff Main Menu{% endblock %}

{% block navbar %}{% include "_full_navbar.html" %}{% endblock %}

{% block staff_content %}
    <div>

        <fieldset>
            <legend>Action</legend>

            <ul class="arrow_bullet">
                <li><a href="{% url 'staff:update_board_members' 1 %}">Update Board Members</a></li>
                <li><a href="{% url 'staff:update_homeowners' %}">Update Homeowners</a></li>
            </ul>

        </fieldset>

        <fieldset>
            <legend>Bow Hunt</legend>

            <ul class="arrow_bullet">
                <li style="padding-bottom: 2em;"><a href="{% url 'bow_hunt:add_logs' %}">Add Logs</a></li>
                <li><a href="{% url 'bow_hunt:log_sheet' %}">Daily Log Sheets</a></li>
                <li><a href="{% url 'bow_hunt:hunter_analysis' %}">Hunter Analysis</a></li>
            </ul>
        </fieldset>

        <fieldset>
            <legend>Download</legend>

            <ul class="arrow_bullet">
                <li><a href="{% url 'staff:sign_in_sheet' %}">Annual Meeting List (PDF format)</a></li>
                <li><a href="{% url 'staff:email_notice_list' %}">Email Notice List (CSV format)</a></li>
                <li><a href="{% url 'staff:non_email_notice_list' %}">Non Email Notice List (CSV format)</a></li>
            </ul>
        </fieldset>

        <fieldset>
            <legend>View</legend>

            <ul class="arrow_bullet">
                <li><a href="{% url 'staff:all_current_news' %}">All Current News</a></li>
                <li><a href="{% url 'staff:all_data' %}">All Data</a></li>
                <li><a href="{% url 'news:archived' %}">Archived News</a></li>
                <li><a href="{% url 'resident:board' %}">Board Members</a></li>
                <li><a href="{% url 'staff:mailing_addresses' %}">Mailing Addresses</a></li>
                <li><a href="{% url 'resident:information' %}">Residents List</a></li>
            </ul>
        </fieldset>
    </div>
{% endblock %}
