{% ifequal active "home" %}
    <li><span class="fakelink">Home</span></li>
{% else %}
    <li><a href="{% url "home" %}">Home</a></li>
{% endifequal %}

{% ifequal active "about" %}
    <li><span class="fakelink">About</span></li>
{% else %}
    <li><a href="{% url "about" %}">About</a></li>
{% endifequal %}

{% ifequal active "documents" %}
    <li><span class="fakelink">Documents</span></li>
{% else %}
    <li><a href="{% url "docs:docs" %}">Documents</a></li>
{% endifequal %}

<li><a href="{% url "history:history" %}">History</a></li>

<li><a href="{% url "gallery:gallery" %}">Gallery</a></li>

{% ifequal active "contact" %}
    <li><span class="fakelink">Contact</span></li>
{% else %}
    <li><a href="{% url "contact:contact" %}">Contact</a></li>
{% endifequal %}

{% ifequal active "search" %}
    <li><span class="fakelink">Search</span></li>
{% else %}
    <li><a href="{% url "search" %}">Search</a></li>
{% endifequal %}

{% ifequal active "technical" %}
    <li><span class="fakelink">Technical</span></li>
{% else %}
    <li><a href="{% url "technical" %}">Technical Details</a></li>
{% endifequal %}
