{% extends "history/base.html" %}
{% load static %}

{% block title %}Irondequoit Story{% endblock %}
{% block description %}History of the Town of Irondequoit{% endblock %}

{% block right_content %}
    <p>
        <em>
            Irondequoit Story: a history of the town of Irondequoit (suburb of Rochester, county of Monroe, state of 
            New York) covering the years 1839-1957
        </em> was written by Irondequoit town historian Maude I. West. Most of the book is available online.
    </p>

    <ul>
        <li>
            <a href="http://files.usgwarchives.net/ny/monroe/history/1957/irondequ/dedicati5ms.txt" target="_blank">
                Dedication
            </a>
        </li>
        
        <li>
            <a href="http://files.usgwarchives.net/ny/monroe/history/1957/irondequ/dedicati5ms.txt" target="_blank">
                Foreword
            </a>
        </li>
        
        <li>
            <a href="http://files.usgwarchives.net/ny/monroe/history/1957/irondequ/dedicati5ms.txt" target="_blank">
                Acknowledgements
            </a>
        </li>
        
        <li>
            <a href="http://files.usgwarchives.net/ny/monroe/history/1957/irondequ/backgrou6ms.txt" target="_blank">
                Background on the area and its people
            </a>
        </li>
        
        <li>
            <a href="http://files.usgwarchives.net/ny/monroe/history/1957/irondequ/transpor7ms.txt" target="_blank">
                Transportation developments
            </a>
        </li>
        
        <li>
            <a target="_blank" href="http://files.usgwarchives.net/ny/monroe/history/1957/irondequ/irondequ8ms.txt">
                Irondequoit Bay
            </a>
        </li>
        
        <li>
            <a target="_blank" href="http://files.usgwarchives.net/ny/monroe/history/1957/irondequ/parks9ms.txt">
                Parks
            </a>
        </li>
        
        <li>
            <a target="_blank" href="http://files.usgwarchives.net/ny/monroe/history/1957/irondequ/famousla10ms.txt">
                Famous landmarks
            </a>
        </li>
        
        <li>
            <a href="http://files.usgwarchives.net/ny/monroe/history/1957/irondequ/miscella11ms.txt">
                Miscellany  of historical interest
            </a>
        </li>
        
        <li>
            <a href="http://files.usgwarchives.net/ny/monroe/history/1957/irondequ/schoolso12ms.txt">
                Schools of Irondequoit
            </a>
        </li>
          
        <li>
            <a target="_blank" href="http://files.usgwarchives.net/ny/monroe/history/1957/irondequ/irondequ13ms.txt">
                Irondequoit churches
            </a>
        </li>
          
        <li>
            <a target="_blank" href="http://files.usgwarchives.net/ny/monroe/history/1957/irondequ/townceme14ms.txt">
                Town cemeteries
            </a>
        </li>
          
        <li>
            <a target="_blank" href="http://files.usgwarchives.net/ny/monroe/history/1957/irondequ/modernci15ms.txt">
                Modern civic affairs
            </a>
        </li>
          
        <li>
            <a target="_blank" href="http://files.usgwarchives.net/ny/monroe/history/1957/irondequ/postscri17ms.txt">
                Postscript
            </a>
        </li>
          
        <li>
            <a target="_blank" href="http://files.usgwarchives.net/ny/monroe/history/1957/irondequ/selected18ms.txt">
                Selected references
            </a>
        </li>
          
        <li>
            <a href="http://files.usgwarchives.net/ny/monroe/history/1957/irondequ/supervis16ms.txt" target="_blank">
                Supervisors and Town Clerks 1838-1957
            </a>
        </li>
    </ul>
{% endblock %}
