{% extends "history/base.html" %}
{% load static %}

{% block title %}Poetry{% endblock %}
{% block description %}Poems about Huntington Hills{% endblock %}

{% block right_content %}
    <h2 class="medium">Irondequoit</h2>
    
    <p>
        This poem comes from <em>Pictures of Rochester In Verse</em> by Melissa E. Bingeman 
        (© Melissa E. Bingeman of Rochester, N.Y.). The book is a collection of poems published in the 
        <a href="http://www.democratandchronicle.com/" target="_blank">Democrat &amp; Chronicle</a> from March to 
        October in 1930.
    </p>
    
    <div style="margin-left: 25%; font-family: Courier New,Courier,monospace; font-size: 0.9em; margin-top: 2em;">
        <div style="text-align: center; margin-right: 50%; margin-bottom: 1em;">Irondequoit</div>
    
        <p>
            I'm winding through a valley<br />
            &nbsp; &nbsp; That holds a land-locked bay,<br />
            Where white-throat grosbeaks dally,<br />
            &nbsp; &nbsp; And wren and juncko stay.<br />
            Tree-clad hill and hollow<br />
            &nbsp; &nbsp; Along the shady shore,<br />
            Call to me to follow,<br />
            &nbsp; &nbsp; And learn the Indian lore.<br />
            <br />
            I'll buy a little hill-top,<br />
            &nbsp; &nbsp; Put up a little tent,<br />
            So I can see the morning,<br />
            &nbsp; &nbsp; When the night is spent,<br />
            Bring to life the tree-forms,<br />
            &nbsp; &nbsp; Nebulous and grey,<br />
            Bring to life the hillocks,<br />
            &nbsp; &nbsp; Call to life the bay.<br />
            <br />
            Could I the courage rally,<br />
            &nbsp; &nbsp; I'd buy a little 'plane,<br />
            And glide into the valley,<br />
            &nbsp; &nbsp; And then sweep up again<br />
            To see the mists of morning<br />
            &nbsp; &nbsp; Form a lake of cloud,<br />
            Where hill-tops look like islands,<br />
            &nbsp; &nbsp; Floating green and proud.<br />
            <br />
            And when the dew has vanished<br />
            &nbsp; &nbsp; I'd row a little boat<br />
            Among the reeds and rushes,<br />
            &nbsp; &nbsp; And drift—and dream—and float;<br />
            Explore the hidden channels,<br />
            &nbsp; &nbsp; Surprise the birds; or lie<br />
            And watch the wandering cloudlets<br />
            &nbsp; &nbsp; Sail across the sky.
        </p>
    </div>
{% endblock %}
